{% load static %}

<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <title>Word Counter</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
  </head>

  <body>
    <div class="navbar">
      <div>
        <img width="20rem" src="{% static '/images/ubuntu_icon.png'%}" alt="linux_ubuntu"/>
        <span>Files▼</span>
      </div>
      <span class="clock"></span>
      <div>
        <img width="20rem" src="{% static '/images/battery_icon.png'%}" alt="battery">
        <img width="20rem" src="{% static '/images/wifi_icon.png'%}" alt="wifi">
        <a href="https://github.com/haram8009" title="https://github.com/haram8009">
          <span>made by
          </span><img width="20rem" src="{% static '/images/github_square_icon.png'%}" alt="github">
        </a>
      </div>
    </div>

    <div class="container">
      <div class="app-container">
        <div class="header">
          <img width="20rem" src="{% static '/images/word_icon.png'%}" alt="logo"/>
          <span>Word-Counter.exe</span>
          <a href="{% url 'home' %}">
            <button id="header-home-btn"></button>
          </a>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>

    <script type=" text/javascript" src=" {% static '/js/clock.js'%} "></script>
  </body>

</html>
