<!DOCTYPE html>
{% load static %}
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <title>Word Counter</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
  </head>

  <body>
    <div class="container">
      <div class="contents">
        <div class="header">
          <img src="idk"/>
          <span>Word-Counter.exe</span>
          <button>x</button>
          <a href={% url 'result' %}>gotoreuslt</a>
          <form action={% url 'result' %} method='GET'>
            <textarea name='text'></textarea>
            <button type='submit'>submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>

</html>
