{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="contents">
    <form action={% url 'result' %} method='GET'>
      <div class="form-box">
        <div class="description">
          <h1>Count your words</h1>
          <h3>
            <strong class="color_orange">"Word-Counter.exe"</strong>
            will count your words
          </h3>
          <p>1. 글자수 세기 (공백포함, 미포함)</p>
          <p>2. 단어 개수 (simple ver.)</p>
          <p>3. 명사 개수 (KLT2023 ver.)</p>
        </div>
        <textarea name='text' id="target-textarea" placeholder="문자를 입력하세요."></textarea>
        <button type='submit' id="submit-btn"></button>
      </div>
    </form>
  </div>

{% endblock %}
